<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.yuktanding.yuktanding">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yuklogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yuklogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden">


        <activity android:name=".Login">

        </activity>

        <activity android:name=".SignUp">

        </activity>

        <activity
            android:name=".MenuHome"
            android:label="@string/title_activity_menu_home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
      
        <activity
            android:name=".ActivitySplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity
            android:name=".ActivityMain"
            android:label="YukTanding"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
      
        <activity
            android:name=".ActivityPesanLapangan"
            android:label="@string/title_activity_pesan_lapngan"
            android:noHistory="true"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.yuktanding.yuktanding.ActivityMain" />
        </activity>
      
        <activity
            android:name=".ActivityCariLawan"
            android:label="@string/title_activity_cari_lawan"
            android:noHistory="true"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.yuktanding.yuktanding.ActivityMain" />
        </activity>
      
        <activity
            android:name=".ActivityBuatTim"
            android:label="@string/title_activity_buat_tim"
            android:noHistory="true"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.yuktanding.yuktanding.ActivityMain" />
        </activity>
    </application>

</manifest>